.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 9999px;
  height: 48px;
  width: fit-content;
  padding: 16px 32px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  border: 1px solid var(--neutral-40);
  font-size: 14px;
}

.textWrapper {
  display: inline-grid;
  overflow: hidden;
  align-items: center;
}

.textPrimary,
.textSecondary {
  grid-area: 1 / 1;
  font-family: var(--font-display);
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 1;
  /* text-transform: uppercase; */
  white-space: nowrap;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.textPrimary {
  transform: translateY(0);
}

.textSecondary {
  transform: translateY(100%);
}

.button:not(:disabled):hover .textPrimary {
  transform: translateY(-100%);
}

.button:not(:disabled):hover .textSecondary {
  transform: translateY(0);
}

.iconWrapper {
  display: inline-grid;
  align-items: center;
}

.iconPrimary,
.iconSecondary {
  grid-area: 1 / 1;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  color: currentColor;
  flex-shrink: 0;
}

.iconPrimary {
  transform: translateX(0);
  opacity: 1;
}

.iconSecondary {
  transform: translateX(-100%);
  opacity: 0;
}

.button:not(:disabled):hover .iconPrimary {
  transform: translateX(100%);
  opacity: 0;
}

.button:not(:disabled):hover .iconSecondary {
  transform: translateX(0);
  opacity: 1;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.sm {
  font-size: 14px;
}

.md {
  font-size: 14px;
}

.lg {
  font-size: 18px;
}

.primary {
  /* background: var(--color-innovation-blue); */
  color: white;
  border: 1px solid var(--color-innovation-blue);
  border-radius: 999px;
}

.border {
  background: transparent;
  /* padding: 12px; */
}

.button.border:hover {
  border-color: var(--neutral-80);
  background: var(--neutral-40);
}

.blur {
  background: rgba(217, 217, 217, 0.4);
  backdrop-filter: blur(12px);
  border: none;
  color: var(--green-100);
}

.blurLight {
  color: var(--neutral-20);
}

.button.blur:not(:disabled):hover {
  background: rgba(217, 217, 217, 0.4);
  filter: none;
}

.button.blurLight:not(:disabled):hover {
  color: var(--neutral-20);
}

.simple {
  padding: 0;
  border: none;
  background: none;
  height: auto;
  min-height: 0;
}

.button.simple:hover {
  background: none;
}